<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>
<header class="masthead">
<div class="container">
    <h1 class="text-white">Enter book details</h1>
<form method="post">
    <div class="form-floating mb-3">
        <input th:field="${book.name}" class="form-control">
        <label>Book Title</label>
        <p class="error" th:errors = "${book.name}"></p>
    </div>
    <div class="form-floating mb-3">
        <input th:field = "${book.author}" class ="form-control">
        <label>Book Author</label>
        <p class="error" th:errors="${book.author}"></p>
    </div>
    <div class="form-floating mb-3">
        <input th:field = "${book.summary}" class ="form-control" >
        <label>Book Summary</label>
        <p class="error" th:errors="${book.summary}"></p>
    </div>
    <div class="d-grid">

        <button class="btn btn-primary btn-xl" id="add" type="submit">Add</button>
    </div>
</form>
</div>
</header>
</body>
</html>