<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body >

<div th:replace="fragments :: page-header"></div>
<header class ="masthead">
    <div class="container px-4 px-lg-5 h-100">

    <table class="book-listing">
        <tr>
            <th>Books Available</th>
        </tr>
        <tr>
            <td>
                <li th:each="book : ${books}">
                    <a th:href="@{'/books/view/' + ${book.id}}" th:text="${book.name}"></a>
                </li>
            </td>

    </tr>



</table>
    </div>
</header>
</body>
</html>