<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div th:replace="fragments :: page-header"></div>
<header class="masthead">
    <div class="container">

    <h1 class = "text-white" th:text="${'Book : ' + book.name}">Default Title</h1>

    <nav th:replace="fragments :: page-header"></nav>
        <form method="post">
            <div class="book-listing">
                <p class ="text-left" th:text="${'Author : ' + book.author}"></p>
                <p class ="text-left" th:text="${'Summary : ' + book.summary}"></p>
                <p class ="text-left" th:text="${'Genre : ' + book.genre}"></p>
                 <div class="d-grid2">
                    <button class="button-login btn-primary" id="request" type="submit">Request</button>
                 </div>
            </div>
        </form>
    </div>
</header>
</body>
</html>