<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>

<body>
<div th:replace="fragments :: page-header"></div>
<header class = "masthead">

           <div>
            <form th:action ="@{/search}" method="get" class="pull-right" >
                <input type ="search" name="searchTerm" size="50" class="form-control-search" placeholder ="search term" required />
                <button class="button-search btn-primary" id="search" type="submit">Search</button>
            </form>
        </div>

    <div class="container px-4 px-lg-5 h-100">

        <div class="row gx-4 gx-lg-5 h-50 align-items-center justify-content-center text-center">

            <div class="col-lg-8 align-self-end">
                         <table class="book-listing">
                             <tr>
                                 <th>Search Results for '[[${searchTerm}]]' </th>
                             </tr>

                             <tr>
                                 <td>
                                     <li th:each="book : ${searchResults}">
                                         <a th:href="@{'/books/view/' + ${book.id}}" th:text="${book.name}"></a>
                                     </li>
                                 </td>
                             </tr>
                         </table>
            </div>

        </div>
    </div>
</header>
</body>
</html>